.section{
    padding: 100px 200px;
    background-color: gray;
}

.container{
    max-width: 700px;
    margin: 0 auto;
    background-color: #FFF;
    padding: 50px 80px;
}

.shape{
    padding: 0px;
}

.shape-one{
    position: absolute;
    padding: 0px;
    background-color: #4285F5;
    width: 100%;
    height: 80px;
}